.view-container{
    margin-top: 20px;
    margin-left: 60px;
}
.upload-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 50px;
}

.form-container {
    flex: 1;
    max-width: 48%;
}


.form-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 48%;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #4376ec;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #749dc5;
}


.image-container {
    flex: 1;
    max-width: 48%;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
}

.image-container p {
    font-size: 1.2rem;
    color: #555;
}


@media (max-width: 768px) {
    .upload-page-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .form-container{
        max-width: 100%;
        margin: 0;
    }

    .form-row {
        flex-direction: column;
    }
}

@media (max-width: 490px) {

    /* Adjust layout for mobile view */
    .upload-page-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .form-container {
        max-width: 100%;
        padding: 0 10px;
        margin-top: 10px;
    }


    .image-container {
        /* display: flex; */
        display: block;
    }

    .image-container h1{
       font-size: 15px;
    }
    
    .form-row {
        flex-direction: column;
    }

    .view-container{
        display: flex;
        align-items: center;
    }
    .form-container label,
    .form-container input,
    .form-container textarea {
        width: 100%;
    }


    .form-container input,
    .form-container textarea {
        padding: 8px;
        font-size: 14px;
    }
}